input {
  margin-bottom: 10px;
}

@media (max-width:550px) and (min-width:300px) {
  * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* padding-left: .2em; */
    /* padding-right: .2em; */
    /* padding-top: .2em; */
    margin: 0;
  }
.parent{
  background-color: #ffc5c5;
  /* padding-bottom: 2em; */
  /* margin: 0.2em; */
  padding: 0.6em;
  padding-bottom:10em;
  padding-top: 10em;
}
  h1 {
    color: green;
  }

  label {
    font-weight: bold;
  }
  
  form {
    background-color: #c6e2b5;
    /* width: 100%; */
    margin: 0;
    padding: 0;
    padding-left :0.5em;;
    margin-top: 0.2em;
    padding-top: 0.9em;
    padding-bottom: 0.2em;
    border-radius: 0.6em;
    box-shadow: 1.2em 1.2em 2em 0.5em rgb(0, 0, 0, 0.4);
  }
  
  input {
    width: 90%;
    align-items: center;
    padding: 0.3em;
    margin-left: 0.3em;
    border-radius: 0.6em;
    border: none;
  }
button{
  border-color:rgb(65, 71, 150) ;
  border-radius: 0.5em;
  margin-left: 8em;
  margin-top: 0.7em;
  background-color: #ffc107;

}
}